*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
  background: grey;
}

.emoji-container,
.spleen-container {
  position: absolute;
  left: 0;
  top: 0;
}

.emoji {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  width: 64px;
  font-size: 60px;
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.5));
  opacity: 0;
}

.emoji--animate-in {
  animation: emojiAnimateIn 1s forwards ease-in;
}
@keyframes emojiAnimateIn {
  0% {
    opacity: 0;
    transform: scale(2);
    filter: drop-shadow(0 15px 15px rgba(0, 0, 0, 0.25));
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: scale(1);
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5));
  }
}

.emoji-container--transition-movement,
.spleen-container--transition-movement {
  transition: transform;
  transition-timing-function: cubic-bezier(1,0,.37,.51);
}

.chomp-container {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  opacity: 0;
  transform: translateX(0);
  animation-fill-mode: forwards;
}

.chomp-container--from-left,
.chomp-container--from-right {
  opacity: 1;
}

.chomp-container--from-left {
  animation-name: chompAnimatedFromLeft;
}
@keyframes chompAnimatedFromLeft {
  from { transform: translateX(-100vw); }
}

.chomp-container--from-right {
  flex-direction: row-reverse;
  animation-name: chompAnimatedFromRight;
}
@keyframes chompAnimatedFromRight {
  from { transform: translateX(100vw); }
}

.chomp-container--to-left {
  animation-name: chompAnimatedToLeft;
}
@keyframes chompAnimatedToLeft {
  to {
    transform: translateX(-100vw);
    opacity: 0;
  }
}

.chomp-container--to-right {
  animation-name: chompAnimatedToRight;
}
@keyframes chompAnimatedToRight {
  to {
    transform: translateX(100vw);
    opacity: 0;
  }
}

.chomp__spleen {
  margin-top: -200px;
  height: 50vh;
}

.chomp-container--from-right .chomp__spleen {
  transform: scaleX(-1);
}

.chomp__emoji {
  position: absolute;
  top: calc(50vh - 60px);
  font-size: 128px;
}

.chomp-container--from-left .chomp__emoji {
  left: 300px;
}

.chomp-container--from-right .chomp__emoji {
  right: 300px;
}

.chomp__reaction {
  font-size: 80px;
  position: absolute;
  animation-fill-mode: forwards;
  opacity: 0;
}

.chomp-container--from-left .chomp__reaction {
  left: 350px;
}

.chomp-container--from-right .chomp__reaction {
  right: 350px;
}

@keyframes chompReaction {
  0% {
    transform: translateY(-250px) scale(1);
    opacity: 0;
  }
  50% {
    transform: translateY(-300px) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-350px) scale(2);
    opacity: 0;
  }
}